<% include ./partials/header %>

<h1>Add Course</h1>

<form action="/courses" method="POST">
    <select name="courseSelection">
        <% 
    </select>
    <button>Sign Up</button>
</form>

<% include ./partials/footer %>