<% include ../partials/header %>

<div class="container">
    <h1>Add Course</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/courses" method="POST">
                <div class="btn-group-vertical" data-toggle="buttons">
                    <% courses.forEach(function (el) { %>
                        <label class="btn btn-info">
                            <input type="radio" name="courseSelection" value="<%=el._id%>" autocomplete="off"> <%=el.name%>
                        </label>
                    <% }); %>
                </div>
                <div><button class = "btn btn-primary">Sign Up</button></div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>



<% include ../partials/footer %>