<h1>
    DEVTOOLS
</h1>

<form action="/devtools" method="post">
    <h2>Name</h2>
    <input type="text" name="courseName">
    <h2>Image</h2>
    <input type="text" name="courseImage">
    <h2>Description</h2>
    <input type="text" name="courseDescription">
    <h2>Word list</h2>
    <input type="text" name="courseWordList">
    <button type="submit" class="btn btn-success">Add</button>
</form>