<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/register.css">

<div class="container">
    <div class="transHeader">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" minlength="5" maxlength="12" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" minlength="5" maxlength="12" required>
            </div>
            <button class="btn btn-default">Sign Up</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>