body{
    background-color: #2D3142;
    background-image: url("../images/texture_axiom.png");
    font-family: 'Oswald', serif;
}


form{
    text-align: center;
}

input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}


h1{
    color: #EF8354;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}

/*========TRANSPARENT HEADERS=========*/

.transHeader{
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}

.transHeader p{
    color: #FFFFFF;
    font-size: 20px;
    padding: 0px 20%;
}

/*==========NAVBAR STYLES=========*/

.navbar-default {
    background-color: #4F5D75;
    border-width: 0px;
    border-bottom-right-radius: 10px;
    /*height: 70px;*/
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
    margin: 10px 5px 10px 0px;
    color: #EF8354;
    font-size: 50px;
    letter-spacing: 4px;
}


.navbar-default .nav{
    margin: 10px 10px;
    color: #EDF2F4; 
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-nav li a:link{
    color: #BFC0C0;
}